*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* contenitore struttura */
.container{
  width: 80vw;
  margin: auto;
}
/* //contenitore struttura */

/* intestazione */
header{
  background-color: #FEFE3A;
  text-align: center;
  height: 100px;
}
/* //intestazione */

/* main */
main{
  margin: 10px;
}
main::after{
  content: "";
  display: block;
  clear:both;
}
/* //main */

/* menu sx */
.menu-sx{
  background-color: #CC87DA;
  float: left;
  height: 100px;
  width: 24%;
  margin-right: 1%;
}
#lista-sx{
  list-style: none;
  text-align: center;
}
/* //menu sx */

/* contenuto */
.central{
  background-color: #730671;
  float: left;
  height:600px;
  width: 49%;
  margin-right: 1%;
  padding: 10px;
}

#testo{
  text-align: center;
  vertical-align: middle;
  color: white;
}
/* //contenuto */

/* menu dx one*/
.menu-dx-one{
  background-color: #CC87DA;
  text-align: center;
  vertical-align: middle;
  float: left;
  height: 100px;
  width: 24%;
  margin-right: 1%;
}
/* //menu dx one*/

/* menu dx two*/
.menu-dx-two{
  background-color: #CC87DA;

}
/* //menu dx two*/

/* credits */
.footer{
  background-color: #A4D2E1;
  text-align: center;
  height: 200px;
}
/* //credits */
